<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Climate Flask</title>
</head>

<body>

    <h3>Flask API</h3>
    <p>{{ txt }}</p>

    <ul>
        {% for url in listurl %}
        <li>
            <a href="{{ url }}" target="_blank" rel="noopener noreferrer"> {{ url }} </a>
        </li>
        {% endfor %}
    </ul>

    <p>{{ txt2 }}</p>
    <a href="{{ ex }}" target="_blank" rel="noopener noreferrer"> {{ ex }} </a>
</body>

</html>